@use "@/styles/variables" as *;

.joinToUs {
  box-sizing: border-box;
  height: 262px;
  width: 100%;

  background-image: image-set(
    url("/images/JoinToUS/mobileBg.jpg") 1x,
    url("/images/JoinToUS/mobileBg@2x.jpg") 2x,
    url("/images/JoinToUS/mobileBg@3x.jpg") 3x
  );

  background-size: cover;
  background-position: center;
  border-radius: 20px;
  padding: 20px;
  &__button {
    padding: 10.5px 12px;
    font-size: 16px;
    width: 100%;
  }

  &__title {
    line-height: 120%;
    font-size: 26px;
  }

  &__description {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    gap: 24px;
  }

  &__wrapper-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

/* adaptation */

@media screen and (min-width: $breakpoint-tablet) {
  .joinToUs {
    height: 260px;
    padding: 32px 32px;

    background-image: image-set(
      url("/images/JoinToUS/tabletBg.jpg") 1x,
      url("/images/JoinToUS/tabletBg@2x.jpg") 2x,
      url("/images/JoinToUS/tabletBg@3x.jpg") 3x
    );

    &__title {
      font-size: 32px;
      width: 500px;
    }

    &__button {
      padding: 12px 12px;
      width: 153px;
    }
    &__wrapper {
      width: 558px;
      gap: 16px;
    }
    &__wrapper-text {
      gap: 8px;
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .joinToUs {
    height: 436px;
    padding: 78px 64px;
    background-image: image-set(
      url("/images/JoinToUS/desktopBg.jpg") 1x,
      url("/images/JoinToUS/desktopBg@2x.jpg") 2x,
      url("/images/JoinToUS/desktopBg@3x.jpg") 3x
    );

    &__title {
      font-size: 48px;
      width: 100%;
    }

    &__description {
      font-size: 20px;
    }
    &__button {
      padding: 10.5px 12px;
      font-size: 18px;
      width: 169px;
    }

    &__wrapper {
      gap: 32px;
    }

    &__wrapper-text {
      gap: 24px;
    }
  }
}
