@use "@/styles/variables" as *;

.hero {
  min-height: 100vh;
  background-image: url("/images/bg.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  &__content {
    max-width: 480px;
    color: #fff;
  }
  &__text {
    font-family: $font-main;
    margin-top: 24px;
  }
}

.test {
  color: $gray-900;
  width: 100px;
  height: 1000px;
}

@media (min-width: $breakpoint-tablet) {
  .hero {
    background-image: url("/images/bg-tablet.webp");
    &__content {
      max-width: 704px;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .hero {
    background-image: url("/images/bg-pc.webp");
    &__text {
      font-size: 20px;
    }
    &__content {
      max-width: 759px;
    }
  }
}
