// colors
$blue-50: #e8eeff;
$blue-400: #4169e1;
$blue-700: #7a96ea;
$blue-900: #1a2a5a;

$gray-50: #fff;
$gray-100: #f2f2f2;
$gray-350: #d8d8d8;
$gray-400: #7f7f7f;
$gray-500: #4c4c4c;
$gray-900: #000;

$error: #b00101;

// fonts
$font-main: "Nunito Sans", sans-serif;
$font-heading: "Sora", sans-serif;

// breakpoints
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
