@use "@/styles/variables" as *;

.all-travelers-page {
  padding: 40px 20px;
  min-height: 100vh;
}

.travelers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.show-more-container {
  text-align: center;
}

.show-more-btn {
  padding: 14px 32px;
  border-radius: 8px;
  border: none;
  background: $primary-color;
  color: $gray-50;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: $blue-400;
    transform: translateY(-2px);
  }
}
