.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;

  background: transparent;
  font-family: 'Sora', sans-serif;
  z-index: 100;
}

.header-inner {
  display: flex;
  justify-content: center;
  padding: 16px;
  width: 100%;
}
.close-icon{
  width:32px;
  height: 32px;
}
.logo {
  padding-top: 5px;
  font-weight: 600;
  color: #ffffff;
  display: flex;
}

.logo-mobile {
  color: #000000;
}

.btn {
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 14px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn.primary {
  background: #4f6ef7;
  color: #000000;

}

.btn.ghost {
  background: rgb(255, 255, 255, 0.3);
  color: #ffffff;
}

.burger {
  background: #e9ecf3;
  border: none;
  padding: 8px;
  border-radius: 10px;
  color: #000000;

}

.nav-desktop {
  display: none;
 position: absolute;
 top: 20px;
 right: 250px;
  gap: 20px;
  align-items: center;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  position: relative;
}

.user {
  display: none;
  align-items: center;
  gap: 8px;
}

.mobile-menu {
  position: fixed;
  inset: 0;
  background: #f6f7fb;
  padding: 16px;
  z-index: 999;
  color: #000000;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.ghost-mobile {
  background: rgb(0, 0, 0, 0.05);
  color: #000000;
  border: 1px solid #9C9C9C;
}

.user-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 6px 10px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.7);
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #ddd;
}

.divider {
  width: 1px;
  height: 24px;
  background: #d0d0d0;
}

.logout-btn {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
}



.publish-btn {
  display: none;
}

@media (min-width: 768px) {
  .publish-btn {
    display: inline-flex;
  }

  .burger {
    display: inline-flex;
  }
}

@media (min-width: 1024px) {
  .nav-desktop {
    display: flex;
  }

  .user {
    display: flex;
  }

  .burger {
    display: none;
  }

  .user-name {
    display: none;
  }
}
