@use "@/styles/variables" as *;

.traveler-card {
  background: $card-background;
  border-radius: $card-border-radius;
  padding: 32px 24px;
  text-align: left;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  display: flex;
  flex-direction: column;
  height: 100%;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  }
}

.traveler-avatar {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 0 12px;
}

.traveler-name {
  font-size: 1.1rem;
  font-weight: 700;
  color: $text-color;
  margin-bottom: 12px;
}

.traveler-description {
  font-size: 0.9rem;
  color: $gray-400;
  line-height: 1.5;
  margin-bottom: 20px;
}

.view-profile-btn {
  border: 1px solid $gray-900;
  color: $gray-900;
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;

  margin-top: auto;
  align-self: center;

  &:hover {
    background: $blue-400;
    color: $gray-50;
  }
}
