@use "@/styles/variables" as *;


.createStories {
  font-family: $font-main;
  padding-top: 104px;
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: $gray-900;
    font-family: $font-heading;
    margin-bottom: 32px;
    
  }

}