.footer {
  background-color: #e8eeff;
  padding: 56px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1439px) {
    padding: 80px 64px;
  }
}

.logo-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  > div {
    order: 1;
  }

  .Social-list {
    order: 2;
    align-items: center;
  }

  .nav-list {
    order: 3;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: -0.01em;
  margin-bottom: 42px;

  &__logo {
    width: 19px;
    height: 23px;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 48px;

  &__item a {
    font-weight: 600;
    font-size: 15px;
  }
}

.Social-list {
  display: flex;
  gap: 19px;
  align-items: center;
  margin: 0 auto;

  &__logo {
    width: 27px;
    height: 27px;

    @media (min-width: 1439px) {
      width: 24px;
      height: 24px;
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
  margin: 32px 0;
}

.rights {
  text-align: center;
  font-size: 12px;
}

@media (min-width: 767px) {
  .logo-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logoContainer {
    margin-bottom: 0;
  }

  .nav-list {
    flex-direction: row;
    margin-top: 0;
  }
}
