@use "../../../styles/variables" as *;
.storyCard__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1440px) {
    flex-wrap: wrap;
    width: 1312px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 335px;
    background-color: $blue-50;
    border-radius: 16px;
    @media screen and (min-width: 768px) {
      width: 340px;
    }
    @media screen and (min-width: 1440px) {
      width: 421px;
    }
  }
  &__item-content-wrapper {
    margin: 24px;
  }
  &__img-wrapper {
    width: 335px;
    height: 223px;
    @media screen and (min-width: 1440px) {
      width: 421px;
      height: 280px;
    }
  }
  &__img {
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__text {
    color: $gray-900;
    font-family: $font-main;
    line-height: 1.5;
  }
  &__region-info {
    font-weight: 600;
    font-size: 12px;
    @media screen and (min-width: 1440px) {
      font-size: 16px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    margin: 8px 0;
    width: 280px;
    overflow: hidden;
    height: 54px;
    @media screen and (min-width: 1440px) {
      font-size: 26px;
      width: 367px;
      height: 78px;
    }
  }
  &__place-desc {
    color: $gray-900;
    max-height: 77px;
    overflow: hidden;
    font-size: 16px;
    @media screen and (min-width: 1440px) {
      font-size: 18px;
    }
  }
  &__button {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 229px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.05);
    @media screen and (min-width: 1440px) {
      width: 315px;
    }
    &--save {
      width: 48px;
      height: 48px;
    }
  }
  &__item-info {
    display: flex;
    margin: 24px 0;
  }
  &__author-img-wrapper {
    width: 48px;
    height: 48px;
    margin-right: 16px;
  }
  &__author-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__author-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
  &__date-info {
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    align-items: center;
  }
  &__icon--save {
    color: black;
    display: block;
    width: 10px;
    height: 12px;
    margin-top: 3px;
    margin-left: 5px;
  }
  &__button--save {
    padding: 16px;
  }
  &__button--save[data-active="true"]{
  background-color: gray;
  }
  &__item-btns-wrapper {
    display: flex;
    gap: 10px;
  }
  &__dot {
    font-weight: 700;
    font-size: 18px;
    margin: 0 7px;
  }
  &__img-wrapper {
    position: relative;
    width: 100%;
    background-color: #f3f4f6;
    overflow: hidden;
    border-radius: 12px;
  }
  &__img-fallback {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    img {
      width: 40px;
      opacity: 0.4;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
}
