@use "@/styles/variables" as *;
.stories-page {
  &__button-container {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    width: 400px;
    @media screen and (min-width: 1440px) {
      width: 434px;
    }
  }
  &__button[data-active="true"]{
  background-color: #f2f2f2;
  }
  &__button--more {
    background-color: $blue-400;
    color: #fff;
    width: 147px;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin: 24px auto 0;
    @media screen and (min-width: 1440px) {
      width: 163px;
    }
  }
}