.historia {
  padding: 30px 20px;
}

.historia-content {
  padding: 32px 0;
}

.historia-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

.historia-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.historia-author,
.historia-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.continent-block {
  width: 76px;
  height: 26px;
  background: #e0e0e0;
  border-radius: 6px;
  text-align: center;
  padding: 4px 10px;

  &__name {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
  }
}

.historia-image {
  border-radius: 24px;
  width: 335px;
  height: 223px;
  margin-bottom: 64px;
}


.historia-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 24px;
}

.save-story {
  background: #f5f5f5;
  border-radius: 12px;
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}