@use "@/styles/variables" as *;

.createStories {
  font-family: $font-main;
  &__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #191919;
    font-family: $font-heading;
    margin: 48px 0;
  }
  &__imagePreview {
    width: 865px;
    height: 576px;
    border-radius: 16px;
  }

  &__button {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-top: 24px;
    padding: 4px 10px;
  }

  &__inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  &__label {
    color: $gray-900;
  }
  &__input {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    height: 43px;
    color: $gray-500;
  }
  &__textarea {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    height: 180px;
    color: $gray-500;
  }
  &__inputWrapper {
    display: flex;

    flex-direction: column;
    gap: 24px;
    width: 865px;
  }

  &__buttonWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 423px;
    margin-top: 36px;
  }
  &__submitButton {
    padding: 10.5px 0;
  }
  &__form {
    display: flex;
    gap: 24px;
    
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .createStories {
    &__imagePreview {
      width: 100%;
      height: 557px;
    }
    &__inputWrapper {
      width: 100%;
    }
    &__buttonWrapper {
      width: 100%;
    }
    &__form {
      flex-direction: column;
      width: 704px;
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .createStories {
    &__imagePreview {
      width: 865px;
      height: 576px;
    }
    &__inputWrapper {
      width: 865px;
    }
    &__buttonWrapper {
      width: 423px;
    }
    &__form {
      flex-direction: row;
      width: auto;
    }
  }
}
